*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}
header{
    background-image: url("../images/banner/banner1.png");
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
}
nav ul{
    display: flex;
    justify-content: center;
    padding: 20px;
}
nav ul li{
    list-style: none;
    margin: 0 25px;
}
nav ul li a{
    text-decoration: none;
    font-family: sans-serif;
    font-size: 18px;
    text-shadow: 1px 1px 1px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgba(48, 45, 45, 0.808);
}
.banner-title{
    font-size: 50px;
    margin: 140px 230px 14px 750px;
    text-align: right;
    color: #151414;
    font-weight: 700;
}
.banner-description{
    padding: 10px 230px 25px 780px;
    color: #444343;
    font-weight: 400;
    text-align: right;
}
.banner-button{
    display: flex;
    justify-content: flex-end;
    margin-right: 230px;
}
.banner-button a{
    text-decoration: none;
    padding: 10px;
    background-color: #F15B22;
    color: rgba(255, 255, 255, 0.877);
    border-radius: 5px;
}
.about-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 200px 40px 150px;
}

.about-content{
    padding:  0 40px;
}
.title{
    margin: 15px 0;
    font-size: 40px;
    color: #151414;
    font-weight: 700;
}
.about-description{
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0 20px 0px;
    line-height: 26px;
}
.about-content ul{
    margin-left: 20px;
}
.about-content ul li{
    list-style:url("../images/check\ 1.svg");
    margin: 0 0 10px 10px ;
}
.about-pic img{
    width: 550px;
}
.plan{
    margin: 20px 200px;
}
.skills{
    display: flex;
    justify-content: space-around;
    padding: 30px 0 14px 0;
}
.skill{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skill img{
    padding: 0 0 15px 0;
}
.skill h2{
    color: #151414;
    font-size: 25px;
    font-weight: 700;
    margin: 10px 0 5px 0;
}
.skill p{
    color: #737272;
    font-weight: 500;
    font-size: 18px;

}
.call{
    margin: 130px 230px;
    background-image: url("../images/watch.png"), linear-gradient(rgba(236, 94, 94, 0.514), rgba(245, 210, 210, 0.13));
    background-size: cover;
    height: 250px;
}
.call-content{
    padding: 60px  30px;
}
.call-content h1{
    padding-bottom: 35px;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.925);
}

.call-content a{
   padding: 10px;
   text-decoration: none;
   background-color: rgba(255, 255, 255, 0.925);
   color: #F15B22;
   border-radius: 5px;
   font-weight: 600;
}
footer{
    background-color: #151414;
}
.option{
    padding: 100px 230px;
    display: flex;
    justify-content: space-between;
    
}
.fiture{
    padding-right: 300px;
}
.fiture h1{
    color: rgba(255, 255, 255, 0.815);
    padding: 0 0 25px 0;
}
.fiture p{
    color: #737272;
    padding-bottom: 20px;
}
.fiture ul{
    display: flex;
}
.fiture ul li{
    list-style: none;
    padding-right: 25px;
}
.fa-brands,
.fa-brands,
.fa-brands{
    color: white;
}
.fa-facebook,
.fa-square-twitter,
.fa-youtube{
    font-size: 20px;
    font-weight: 800;
    color: #1DA1F2;
}
.subscribe h2{
    color: white;
    font-weight: 600;
    padding-bottom: 25px;
}
form #email{
    padding: 10px;
    border: 1px solid #737272;
    border-radius: 5px;
    background-color: #151414;
    margin-bottom: 15px;
}
form #submit{
    padding: 10px 20px;
    border: 1px solid #737272;
    border-radius: 5px;
    color: #F15B22;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.836);
}